<div class="container mt-5 d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="card shadow-lg" style="width: 800px;">
    <div class="row no-gutters">
      <div class="col-md-6 d-flex flex-column justify-content-center align-items-center bg-primary text-white p-4">
        <h2 class="mb-4">Welcome!</h2>
        <p>Upload Thumbnails, Edit Photos, and more!</p>
        <div class="mt-auto">
          <img src="https://media.artsper.com/homepage/mainImageThematic.jpg" alt="Profile Image" class="rounded-circle" width="80">
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-body p-5">
          <h3 class="card-title text-center mb-4"><b>Login</b></h3>
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input type="email" id="email" class="form-control" [(ngModel)]="user.email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group mt-3">
              <input type="password" id="password" class="form-control" [(ngModel)]="user.password" name="password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary mt-3 w-100">Login</button>
          </form>
          <div class="text-center mt-3">
            <a routerLink="/register" class="text-primary">No account? Create</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>